# Sernik bezglutenowy na zimno z kakao low carb

Czasami potrzebujesz wyjątkowego deseru na specjalną okazję albo na przyjęcie. Jeśli stosujesz dietę niskowęglowodanową i bezglutenową, mam przepis na naprawdę wyjątkowy i prosty sernik na zimno bezglutenowy z kakao.

### Składniki:

Spód:

* 150 g mąki migdałowej
* 2 łyżki niesłodzonego kakao
* 50 g roztopionego oleju kokosowego
* 1 łyżka erytrytolu (lub innego słodzika)

Masa serowa:

* 500 g serka mascarpone
* 200 ml śmietanki 36%
* 3 łyżki niesłodzonego kakao
* 2-3 łyżki erytrytolu (lub innego słodzika)
* 1 łyżeczka ekstraktu waniliowego
* 5 g żelatyny rozpuszczonej w 1/4 szklanki cieplej wody

### Przygotowanie:

Spód:

1. W misce wymieszaj mąkę migdałową, kakao, olej kokosowy oraz erytrytol, który wcześniej rozpuść w niewielkiej ilości gorącej wody.
2. Masę przełóż na dno tortownicy (ok. 20 cm) wyłożonej papierem do pieczenia i równomiernie rozprowadź.
3. Wstaw tortownicę do lodówki na 10 minut.

Masa serowa:

1. W misce połącz śmietankę, kakao i erytrytol, dokładnie wymieszaj mikserem na gładką masę.
2. Dodaj mascarpone i delikatnie ubijaj mikserem do połączenia składników. Wlej ekstrakt waniliowy.
3. W 1/4 szklanki ciepłej wody rozpuść żelatynę, dodaj ją do masy serowej, dokładnie mieszając.

Schładzanie:

1. Gotową masę serową wylej na przygotowany spód.
2. Sernik na zimno z mascarpone bezglutenowy wstaw do lodówki na minimum 3-4 godziny.
3. Sernik możesz udekorować dowolnymi jagodami.

Smacznego\!