body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ff6f91, #d783ff);
    color: white;
}

.homepage {
    width: 100%;
    height: 100vh;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    padding: 20px;
}

.homepage h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.homepage p {
    font-size: 1.5rem;
}

.homepage a ,
.locale-switcher a ,
.header-navigation a ,
h1 a {
    text-decoration: none;
    color: inherit;
}

.locale-switcher,
.header-navigation {
    position: fixed;
    top: 1rem;
    z-index: 10;
}

.locale-switcher {
    right: 2rem;
}

.header-navigation {
    left: 2rem;
}
